<ion-header>
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="wrapper" style="width:180px;position: relative;">
        <button class="side-button left" (click)="minus()">-</button>
        <input class="input-number" type="number" [(ngModel)]="count" />
        <button class="side-button right" (click)="plus()">+</button>
        <ion-progress-bar *ngIf="isVisible" style="position: absolute; bottom: 0; width: 100%;" type="indeterminate"
            color="primary" value="0.5">
        </ion-progress-bar>
    </div>
</ion-content>