.side-button {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.input-number {
    height: 40px;
    width: 100px;
    border: none;
    text-align: center;
    box-sizing: border-box;
}
